{% extends "faisApp/base.html"%}
{% load static%}
{% block content%}
        <!-- Begin Page Content -->
        <div class=""> 
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-800">511 Cams North Carolina</h1>
              <a href="/fais/images511" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Download Images </a>    
            </div>
          <div class="row">
            <div class="col-lg-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">NC 12 at Temporary Bridge Inlet (MM 32.5)</h6>
                    </div>
                    <div class="card-body">
                        <figure class="figure">
                            <img src="https://tims.ncdot.gov/TIMS/cameras/viewimage.ashx?id=NC12_NewInlet.jpg" style="width:600px; height: 350px;" class="figure-img img-fluid rounded" alt="...">
                            
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">NC-12 North of Hatteras Village</h6>
                    </div>
                    <div class="card-body">
                        <figure class="figure">
                            <img src="https://tims.ncdot.gov/TIMS/cameras/viewimage.ashx?id=NC12_NorthHatterasVillage.jpg" style="width:600px; height: 350px;" class="figure-img img-fluid rounded" alt="...">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">I-485 @ Wilkinson Blvd.</h6>
                    </div>
                    <div class="card-body">
                        <figure class="figure">
                            <img src="https://tims.ncdot.gov/TIMS/cameras/viewimage.ashx?id=I485_WilkinsonBlvd.jpg" style="width:600px; height: 350px;" class="figure-img img-fluid rounded" alt="...">
                        </figure>
                    </div>
                </div>
            </div>
          </div>
          <div class="row">
              <div class="col-lg-4">
                  <div class="card shadow mb-4">
                      <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">US-64 @ mm 546</h6>
                      </div>
                      <div class="card-body">
                          <figure class="figure">
                              <img src="https://tims.ncdot.gov/TIMS/cameras/viewimage.ashx?id=US64_mm546.jpg" style="width:600px; height: 350px;" class="figure-img img-fluid rounded" alt="...">
                          </figure>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="card shadow mb-4">
                      <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">US 17 Bus (Market St) at US 74 (MLK Pkwy / Eastwood Rd)</h6>
                      </div>
                      <div class="card-body">
                          <figure class="figure">
                              <img class="webcam" src="https://tims.ncdot.gov/TIMS/cameras/viewimage.ashx?id=MarketSt_Eastwood.JPG&t=1567527000317?size=800x450" style="width:600px; height: 350px;" class="figure-img img-fluid rounded" alt="...">
                          </figure>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="card shadow mb-4">
                      <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">US 70 (Arendell St) @ 23rd Street</h6>
                      </div>
                      <div class="card-body">
                          <figure class="figure">
                              <img class="webcam" src="https://tims.ncdot.gov/tims/cameras/viewimage.ashx?id=US70_23rd_St.jpg&t=1567527176407?size=800x450" style="width:600px; height: 350px;" class="figure-img img-fluid rounded" alt="...">
                          </figure>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-4">
                  <div class="card shadow mb-4">
                      <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">US-64 - Alligator Bridge</h6>
                      </div>
                      <div class="card-body">
                          <figure class="figure">
                              <img class="webcam" src="https://tims.ncdot.gov/TIMS/cameras/viewimage.ashx?id=US64_AlligatorBr.jpg" style="width:600px; height: 350px;" class="figure-img img-fluid rounded" alt="...">
                          </figure>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="card shadow mb-4">
                      <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">I-85 N @ MM 222</h6>
                      </div>
                      <div class="card-body">
                          <figure class="figure">
                              <img class="webcam"  src="https://tims.ncdot.gov/TIMS/cameras/viewimage.ashx?id=I85_mm222.jpg&t=1567527868244" style="width:600px; height: 350px;" class="figure-img img-fluid rounded" alt="...">

                          </figure>
                      </div>
                  </div>
              </div>    
              <div class="col-lg-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Elizabeth City Drawbridge</h6>
                    </div>
                    <div class="card-body">
                        <figure class="figure">
                            <img class="webcam"  src="https://tims.ncdot.gov/TIMS/cameras/viewimage.ashx?id=US158_PasquotankRiver.jpg" style="width:600px; height: 350px;" class="figure-img img-fluid rounded" alt="...">
                        </figure>
                    </div>
                </div>
            </div>           
          </div>
        </div>

{% endblock content %}

{% block script%}

<script>
  let webcams =  document.getElementsByClassName("webcam");
  for (var i = 0; i < webcams.length; i++) {
    webcams[i].addEventListener("error", (event) => {
      var targetElement = event.target || event.srcElement;
      targetElement.onerror = null;
      targetElement.src = "{% static 'faisApp/notavalible.png' %}";
    });
  }    
</script>
{% endblock script %}