{% extends "faisApp/base.html"%}
{% block content%}
<div id="overlay">

  <div class="loading">
    <div class="loader"></div>
</div>
</div>
<div class="container-fluid">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Twitter Data</h1>
            <button id="save-csv"  class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
              <i class="fas fa-download fa-sm text-white-50"></i> Generate CVS Report
          </button>
          </div>
          <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button"
              aria-expanded="true" aria-controls="collapseCardExample">
              <h6 class="m-0 font-weight-bold text-primary">Search Citeria</h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse show" id="collapseCardExample">
            <form id="searchform">

              <div class="card-body">
                <div class="row">
                  <div class="col-md-3">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Username: @</span>
                      </div>
                      <input id="username" type="text" class="form-control" placeholder="Username" aria-label="Username"
                        aria-describedby="basic-addon1">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Queary</span>
                      </div>
                      <input id="queary" type="text" class="form-control" placeholder="Queary" aria-label="Queary"
                        aria-describedby="basic-addon1">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Start Date</span>
                      </div>
                      <input style="background: white" required id="start-date" type="text" class="form-control" placeholder="Start Date" aria-label="start date"
                        aria-describedby="basic-addon1" readonly>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">End Date</span>
                      </div>
                      <input style="background: white" required id="end-date" type="text" class="form-control" placeholder="End Date" aria-label="start date"
                        aria-describedby="basic-addon1" readonly>
                    </div>
                  </div>


                  <div class="col-md-3">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Max Tweets</span>
                      </div>
                      <input required id="max-tweet" type="text" class="form-control" placeholder="Max Tweet" aria-label="Username"
                        aria-describedby="basic-addon1">
                    </div>
                  </div>
                </div>
              </div>
             <div class="card-footer">
                <button type="submit" name="search-tweets" id="search-tweets" href="#" class="btn btn-primary ">
                  <i class="fas fa-search"></i>  Search
                </button>
              </div>
            </div>
            </form>
          </div>
          <div class="row">
          <div class="col-md-12">
          <div class="card shadow mb-12">
            <div class="card-header py-3">
              <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                  <a class="nav-link active" id="pills-table-view"  data-toggle="pill" role="tab" href="#table-view" aria-controls="table-view" aria-selected="true">Table View</a>
                </li>
               
            </ul>
            </div>
            <div class="card-body">
              <div class="table-responsive tweet-table" style="overflow: hidden">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Tweets</th>
                      <th>Date</th>
                      <th>Source</th>
                      <th>Image</th>
                      <th>Sentiment</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in twitter%}
                        <tr>
                            <td>{{ item.tweets }}</td>
                            <td>{{ item.date_posted }}</td>
                            <td><a href="{{item.source_url}}"><i class="fas fa-external-link-alt"></i></a></td>
                            <td><a href="{{item.image_url}}"><i class="fas fa-external-link-alt"></i></a></td>
                            <td>{{ item.Sentiment }}</td>
                        </tr>
                      {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          </div>




        </div>
{% endblock content %}
{% block script%}
<script>
    $(document).ready(function(){
      $('#searchform').submit(function(e){
        e.preventDefault();
        username =  $('#username').val();
        queary =  $('#queary').val();
        startdate =  $('#start-date').val();
        enddate =  $('#end-date').val();
        maxtweet =  $('#max-tweet').val();
        $("#overlay").show();
        $.get( "{% url 'executetweet' 'value'%}",{'username': username, 'queary': queary, 'startdate': startdate, 'enddate': enddate, 'maxtweet': maxtweet }, function( data) {
          $("#overlay").hide();
          $(".tweet-table").html(data);
          $('#dataTable').DataTable();

        });
      });
    });
</script>
<script>
  $( function() {
    $( "#start-date" ).datepicker({
        format: 'yyyy-mm-dd',
        startDate: '-3d',
        onSelect: function(dateText, inst) {
        var date = $(this).datepicker('getDate'),
            day  = date.getDate(),
            month = date.getMonth() + 1,
            year =  date.getFullYear();
            if (month < 10){
              month = '0'+month
            }
            if (day<10){
              day = '0' + day
            }
            $( "#start-date" ).val(year + '-' + month + '-' + day);
        }
    });
  });
</script>
<script>
  $( function() {
    $( "#end-date" ).datepicker({
        format: 'yyyy-mm-dd',
        startDate: '-3d',
        onSelect: function(dateText, inst) {
        var date = $(this).datepicker('getDate'),
            day  = date.getDate(),
            month = date.getMonth() + 1,
            year =  date.getFullYear();
            if (month < 10){
              month = '0'+month
            }
            if (day<10){
              day = '0' + day
            }
            $( "#end-date" ).val(year + '-' + month + '-' + day);
        }
    });
  });
</script>
<script>
  $(document).ready(function(){
    $('#save-csv').click(function(){
     fetch( "{% url 'saveCSVTwitter' %}")
      .then(resp => resp.blob())
      .then(blob => {
        const url = window.URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.style.display = 'none';
        a.href = url;
        // the filename you want
        a.download = 'Twitter Data.csv';
        document.body.appendChild(a);
        a.click();
        window.URL.revokeObjectURL(url);
      })
    
      .catch(() => alert('oh no!'));  
    }); 
    
});
</script>
{% endblock script %}
